@media (max-width: 935px) {

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        transform: translateX(0px);
    }

    .aside {
        display: none;
    }

    footer,
    .topbar2{
        display: none;
    }

}