@media (max-width: 612px) {


    .storiebar {
        border: none;
        border-radius: 3px;
        margin-left: 0px;
        width: 612px;
        height: 100%;
        margin-bottom: 20px;
    }
    
    .center {
        width: 100%;
    }

    .topbar1 {
        display: none;
    }

    .topbar2 {
        display: flex;
        align-items: center;
        margin-left: -50px;
    }

    .mainlogo{
        margin-right: 230px;
    }
   
    .content {
        margin-top: 0px;
        margin-bottom: 60px;
        margin-left: 0px;
    }

    .baseoptions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc( 100vw - 34px );
        padding-left: 17px;
        padding-right: 17px;
        border-top: #DBDBDB 1px solid;
        background-color: white;
        height: 54px;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    .button {
        display: none;
    }

}