@media (max-width: 935px) {

    .maincontent{

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .sidebar {
        position: relative;
        display: none;
    }

    .center{
        margin-right: 0px;
        transform: translateX(0px);
    }

    .topbar1,
    .topbar2 {
        width: calc( 100vw - 58px);
        padding-left: 29px;
        padding-right: 29px;
    }

}